<div class="inner-wrapper">
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Indicados</h2>
            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a ui-sref="app.home">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li><span>Indicados</span></li>
                </ol>
                <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
            </div>
        </header>
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Lista de Indicados</h2>
                <div class="panel-actions">
                    <button class="btn btn-primary" id="btnNovo" data-toggle='modal' data-target='#modalCadastrar'>Adicionar</button>
                </div>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Registro</th>
                            <th>Vencimento</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </section>
    </section>
</div>



<div id="modalCadastrar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cadastro de novo cliente</h4>
            </div>
            <form method="GET" action="" id="form" onsubmit="return false" ng-hide="complete">
                <div class="modal-body">
                    <div class="alert alert-danger" ng-show="FormError">
                        <strong>Ops!</strong> Email já cadastrado.
                    </div>
                    <div class="form-group">
                        <label for="txtNomeEmpresa">Nome:</label>
                        <input class="form-control" name="data[nome]" ng-model="data.nome" id="tx_nome" required>
                    </div>

                    <div class="form-group">
                        <label for="txtNomeEmpresa">Email:</label>
                        <input class="form-control" name="data[email]" ng-model="data.email" id="txt_host" required>
                    </div>
                    <div class="form-group">
                        <label for="txtNomeEmpresa">Celular:</label>
                        <input class="form-control" name="celular" ng-model="data.telefone" id="txt_user" required ui-br-phone-number>
                    </div>
                </div>                
                <div class="modal-footer" ng-show="overlay">
                    <h3  class="text-center">Criando conta</h3>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="bounce-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" ng-hide="overlay">
                    <input type="submit" id="btnCadastrarEmpresa" value="Cadastrar" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </form>
            <div class="modal-body" ng-show="complete">
                <div class="panel panel-featured-left panel-featured-quartenary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-quartenary">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Dados de conexão</h4>
                                    <div class="info">
                                        <strong class="amount ng-binding">{{res.user_con}}</strong>
                                    </div>
                                    <strong class="ng-binding">{{res.senha_con}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" ng-show="complete">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>