<style type="text/css">
    .lg {
        background: url(assets/images/bg.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<div class="lg">
    <section class="body-sign">
        <div class="center-sign">
            <a href="http://preview.oklerthemes.com/" class="logo pull-left" style="padding-top: 24px;">
                <img src="assets/images/4glive_logo_negative.png" height="36" alt="Porto Admin" />
            </a>

            <div class="panel panel-sign">
                <div class="panel-title-sign mt-xl text-right">
                    <h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Cadastro</h2>
                </div>
                <div class="panel-body">
                    <div class="alert alert-danger" ng-show="FormError">
                        <strong>Ops!</strong> Email já cadastrado.
                    </div>

                    <form name="RegisterForm" id="form">
                        <div class="form-group mb-lg">
                            <label>Nome</label>
                            <input name="nome" ng-model="data.nome" type="text" class="form-control" required ng-readonly="facebook_loaded" />
                        </div>

                        <div class="form-group mb-lg">
                            <label>Celular</label>
                            <input name="celular" ng-model="data.telefone" type="text" class="form-control" required ui-br-phone-number/>
                        </div>

                        <div class="form-group mb-lg">
                            <label>Email</label>
                            <input name="email" type="email" ng-model="data.email" class="form-control" required/>
                        </div>

                        <div class="form-group mb-lg">
                            <label>Password</label>
                            <input name="data[senha]" type="password" ng-model="data.senha" class="form-control" required/>
                        </div>

                        <div class="row">
                            <h3 ng-show="overlay" class="text-center">Criando conta</h3>
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">
                                <div ng-show="overlay" class="bounce-loader">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>

                            <div class="col-sm-4 text-right">

                                <button ng-hide="overlay" type="submit" class="btn btn-primary hidden-xs">Cadastrar</button>
                                <button ng-hide="overlay" type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Cadastrar</button>
                            </div>
                        </div>

                        <span class="mt-lg mb-lg line-thru text-center text-uppercase">
								<span>Ou</span>
                        </span>

                        <div class="mb-xs text-center">
                            <a class="btn btn-facebook mb-md ml-xs mr-xs" id="face_login">Conectar com <i class="fa fa-facebook"></i></a>
                        </div>

                        <p class="text-center">Já possui uma conta? <a ui-sref="login">Acesse agora!</a></p>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>