<div class="inner-wrapper">
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Revenda</h2>
            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a ui-sref="app.home">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li><span>Revenda</span></li>
                </ol>
                <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
            </div>
        </header>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="row">
                    <section class="panel col-md-12">
                        <header class="panel-heading">

                            <h2 class="panel-title">Link de indicação</h2>
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal form-bordered" method="get">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="inputDefault" ng-model="revenda_link">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>

                    <div class="col-md-12 col-lg-4 col-xl-4" style="cursor: pointer">
                        <section class="panel panel-featured-left panel-featured-secondary">
                            <div class="panel-body">
                                <div class="widget-summary">
                                    <div class="widget-summary-col widget-summary-col-icon">
                                        <div class="summary-icon bg-secondary">
                                            <i class="fa fa-usd"></i>
                                        </div>
                                    </div>
                                    <div class="widget-summary-col">
                                        <div class="summary">
                                            <h4 class="title">Saldo</h4>
                                            <div class="info">
                                                <strong class="amount">{{data.saldo | currency : 'R$ '}}</strong>
                                            </div>
                                            <div>Pontos: {{data.ponto}} </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-12 col-lg-4 col-xl-4">
                        <section class="panel panel-featured-left panel-featured-tertiary" id="btnSaque" data-toggle='modal' data-target='#modalSaque' style="cursor: pointer">
                            <div class="panel-body">
                                <div class="widget-summary">
                                    <div class="widget-summary-col widget-summary-col-icon">
                                        <div class="summary-icon bg-tertiary">
                                            <i class="fa fa-shopping-cart"></i>
                                        </div>
                                    </div>
                                    <div class="widget-summary-col">
                                        <div class="summary">
                                            <h4 class="title">Retirar dinheiro</h4>
                                            <div class="info">
                                                <strong class="amount">Fazer saque</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-12 col-lg-4 col-xl-4">
                        <section class="panel panel-featured-left panel-featured-primary" id="btnAtivar" data-toggle='modal' data-target='#modalAtivar' style="cursor: pointer">
                            <div class="panel-body">
                                <div class="widget-summary">
                                    <div class="widget-summary-col widget-summary-col-icon">
                                        <div class="summary-icon bg-primary">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                    <div class="widget-summary-col">
                                        <div class="summary">
                                            <h4 class="title">Usar saldo</h4>
                                            <div class="info">
                                                <strong class="amount">Ativar cliente</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<div id="modalSaque" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Solicitar saque de dinheiro</h4>
                <h4 class="modal-title">Saldo: {{data.saldo | currency : 'R$ '}}</h4>
            </div>
            <form method="GET" action="" id="formSaque" onsubmit="return false" ng-hide="FormSaqueComplete">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label>Valor:</label>
                        <input class="form-control" name="data[nome]" ng-model="data_saque.valor"" required ui-money-mask>
                    </div>

                    <div class="form-group">
                        <label>Banco:</label>
                        <input class="form-control" name="data[email]" ng-model="data_saque.banco" required>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-6">
                        <label>Tipo de conta:</label>
                        <select class="form-control" name="tipo" ng-model="data_saque.tipo" required>
                        <option value="">Selecione um tipo de conta</option>
                        <option value="corrente">Corrente</option>
                        <option value="poupança">Poupança</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Operação: (Somente CEF)</label>
                        <input class="form-control" name="op" ng-model="data_saque.op">
                    </div>
                    </div>
                    <div class="row">
                    <div class="form-group col-md-6">
                        <label>Agencia:</label>
                        <input class="form-control" name="agencia" ng-model="data_saque.agencia" id="txt_user" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Conta:</label>
                        <input class="form-control" name="conta" ng-model="data_saque.conta" id="txt_user" required>
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="btnCadastrarEmpresa" value="Cadastrar" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </form>
            <div class="modal-body" ng-show="FormSaqueComplete">
                <div class="alert alert-success" ng-show="FormSaqueStatus">
                    <strong>Sua solicitação foi enviada.</strong> Você será notificado assim que o valor for creditado em sua conta bancária. O prazo médio é de 24h. A transação será mostrada em seu extrato.
                </div>
                <div class="alert alert-danger" ng-hide="FormSaqueStatus">
                    <strong>Saldo insuficiente.</strong> O saque solicitado está acima do saldo creditado em sua conta, favor informar um valor abaixo de {{data.saldo | currency : 'R$ '}}.
                </div>
            </div>
            <div class="modal-footer" ng-show="FormSaqueComplete">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div id="modalAtivar" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ativar cliente com saldo</h4>
            </div>

            <form id="formAtivar" onsubmit="return false" ng-hide="completeAtivar">
                <div class="modal-body clearfix">

                    <div class="alert alert-danger" ng-show="FormAtivarStatus">
                        <strong>Saldo insuficiente.</strong> A ativação solicitada está acima do saldo creditado em sua conta, favor informar um valor abaixo de {{data.saldo | currency : 'R$ '}}.
                    </div>
                    <div class="form-group">
                        <label>Pacote:</label>
                        <input class="form-control select2" name="ativar_pacote" ng-model="data_ativar.pacote" id="ativar_pacote" required>
                    </div>
                    <div class="form-group">
                        <label>Cliente:</label>
                        <input class="form-control select2" name="ativar_email" ng-model="data_ativar.cliente" id="ativar_email" required>
                    </div>
                </div>
                <div class="modal-footer" ng-hide="overlayAtivar">
                    <input type="submit" value="Ativar" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
                <div class="modal-footer" ng-show="overlayAtivar">
                    <h3  class="text-center">Ativando conta</h3>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="bounce-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-body" ng-show="completeAtivar">
                <div class="panel panel-featured-left panel-featured-quartenary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-quartenary">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">Pacote ativado</h4>
                                    <div class="info">
                                        <strong class="amount ng-binding">Validade: {{data_ativar.vencimento | date: 'dd/MM/yyyy'}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="modal-footer" ng-show="completeAtivar">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>