<aside id="sidebar-left" class="sidebar-left">
    <div class="sidebar-header">
        <div class="sidebar-title">
            Menu
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="nano" style="height: 100%;background: #171717;">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li>
                        <a ui-sref="app.home" href="">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.cliente">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span>Clientes</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.revendedor">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            <span>Revendedores</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-asterisk" aria-hidden="true"></i>
                            <span>Solicitações</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="extra-changelog.html">
                                     Saques
                                </a>
                            </li>
                            <li>
                                <a href="extra-ajax-made-easy.html">
                                     Comprovantes
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a ui-sref="app.servers">
                            <i class="fa fa-server" aria-hidden="true"></i>
                            <span>Servidores</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.pacote">
                            <i class="fa fa-tag" aria-hidden="true"></i>
                            <span>Pacotes</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.caixa">
                            <i class="fa fa-money" aria-hidden="true"></i>
                            <span>Caixa</span>
                        </a>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </div>
</aside>