<div class="inner-wrapper">
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Revendedores</h2>
            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a ui-sref="app.home">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li><span>Revendedores</span></li>
                </ol>
                <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
            </div>
        </header>
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Lista de Revendedores</h2>
                <div class="panel-actions">
                    <button class="btn btn-primary" data-toggle='modal' data-target='#modalCadastrar'>Adicionar</button>
                </div>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped mb-none" id="datatable">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Saldo</th>
                            <th>Ponto</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </section>
    </section>
</div>



<div id="modalCadastrar" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cadastro de revendedores</h4>
            </div>
            <form method="GET" action="" id="form" onsubmit="return false">
                <input type="hidden" class="form-control" name="action" id="action">
                <input type="hidden" class="form-control" name="id" id="DT_RowId">
                <div class="modal-body clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtNomeEmpresa">Nome:</label>
                            <input class="form-control" name="data[nome]" ng-model="data.nome" id="tx_nome" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="txtNomeEmpresa">Email:</label>
                            <input class="form-control" type="email" name="data[email]" ng-model="data.email" id="txt_email" required>
                        </div>
                        <div class="form-group">
                            <label for="txtNomeEmpresa">Senha:</label>
                            <input class="form-control" type="email" name="data[senha]" ng-model="data.senha" id="txt_senha" required>
                        </div>
                        <div class="form-group">
                            <label for="txtNomeEmpresa">Telefone:</label>
                            <input class="form-control" name="data[telefone]" ng-model="data.telefone" id="txt_telefone" required>
                        </div>
                    </div>                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtNomeEmpresa">Cidade:</label>
                            <input class="form-control" name="data[cidade]" ng-model="data.cidade" id="txt_cidade" required>
                        </div>
                        <div class="form-group">
                            <label for="txtNomeEmpresa">Estado:</label>
                            <input class="form-control" name="data[estado]" ng-model="data.estado" id="txt_estado" required>
                        </div>
                        <div class="form-group">
                            <label for="txtNomeEmpresa">Endereço:</label>
                            <input class="form-control" name="data[endereco]" ng-model="data.endereco" id="txt_endereco" required>
                        </div>
                        <div class="form-group">
                            <label for="txtNomeEmpresa">Perfil:</label>
                            <input class="form-control" name="data[perfil]" ng-model="data.perfil" id="txt_perfil" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="btnCadastrarEmpresa" value="Cadastrar" class="btn btn-primary" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </form>
        </div>
    </div>
</div>